users_coinbase_sync_buys_for_all_users:
  class: Users::Coinbase::SyncBuysForAllUsersWorker
  cron: "0 0 * * * *"
  queue: "coinbase"

users_coinbase_sync_sells_for_all_users:
  class: Users::Coinbase::SyncSellsForAllUsersWorker
  cron: "0 0 * * * *"
  queue: "coinbase"

user_coinbase_refresh_access_tokens:
  class: Users::Coinbase::RefreshAccessTokens
  cron: "0 0 * * * *"
  queue: "coinbase"

coin_sync_daily_price_for_coins:
  class: Coins::SyncDailyPriceForCoinsWorker
  cron: "*/5 * * * *"
  queue: "daily_coin_price"
