users_binance_sync_data_for_all_users:
  class: Users::Binance::SyncDataForAllUsersWorker
  cron: "0 0 * * *"
  queue: "binance"

users_bittrex_sync_orders_for_all_users:
  class: Users::Bittrex::SyncOrdersForAllUsersWorker
  cron: "0 0 * * *"
  queue: "bittrex"

users_coinbase_sync_data_for_all_users:
  class: Users::Coinbase::SyncDataForAllUsersWorker
  cron: "0 0 * * *"
  queue: "coinbase"

user_coinbase_refresh_access_tokens:
  class: Users::Coinbase::RefreshAccessTokens
  cron: "0 0 * * *"
  queue: "coinbase"

coins_sync_daily_prices_for_coins:
  class: Coins::SyncDailyPricesForCoinsWorker
  cron: "0 * * * *"
  queue: "default"

email_subscriptions_weekly_portfolio_collection_worker:
  class: EmailSubscriptions::WeeklyPortfolioCollectionWorker
  cron: "0 23 * * SUN"
  queue: "email_subscriptions"
