img {
  display: block;
  max-width: 100%;
  height: auto;
}

.rectangle {
  background-image: linear-gradient(to right, #28393d, #192426);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 79px;
  text-align: center;
  height: 100%;
  padding-bottom: 90px;
}

.group {
  width: 381px;
  height: 111px;
  object-fit: contain;
}

.hero-text {
  font-family: 'Roboto Mono';
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #707e7a;
  padding-top: 26px;
}

.get-started-button {
  width: 178px;
  height: 56px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #c79375, #875e48);
  margin: 0 auto;
  margin-top: 90px;
  padding-top: 15px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translateY(-50%) translateX(-50%);
  span { 
    font-family: "Roboto Mono";
    margin-left: 14px;
    font-size: 16px;
    color: #eceded;
  }
}

.triangle {
  display: inline !important;
  margin-top: -3px;
}

.rectangle-2 {
  height: 100%;
  background-color: #eceded;
}

.free-crypto-tracking {
  height: 100%;
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #666d6f;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.value-prop1 { 
  height: 48px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #787878;
}

.value-prop2 { 
  height: 48px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #787878;
}

.value-prop3 {
  height: 48px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #787878;
}

.text-style-1 {
  color: #c1c4c5;
}

.rectangle-4 {
  height: 5px;
  background-image: linear-gradient(to right, #c79375 3%, #875e48);
}

.value-props {
  padding-left: 112px;
  padding-right: 111px;
}

.feature1 {
  height: 32px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #666d6f;
}

.feature1-description {
  font-family: 'Roboto Mono';
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #787878;
  margin-left: 60px;
}

.pt-29 { 
  padding-top: 29px;
}

@include media-breakpoint-up(sm) {
  .free-crypto-tracking {
    font-size: 16px;
  }
  .feature1 { 
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  .free-crypto-tracking {
    font-size: 20px;
  }
  .feature1 { 
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  .free-crypto-tracking {
    font-size: 24px;
  }
  .feature1 { 
    font-size: 24px;
  }
}

a:hover{
  text-decoration: none;
}

.track-image {
  min-width: 117px;
}

