.spacing {
  margin-top: 80px;
}
.block {
  padding: 20px;
  background: white;
}
.coin-select {
  width: 200px
}
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 0 0 0;
  background: #f0f2f4;
}

.select2 {
  margin-right: 8px;
}