.black-background {
  background-color: #252830;
}

.col-description {
  width: 30%;
}

.col-pros {
  width: 40%;
}

.col-name {
  width: 15%;
}

.logo-image {
  width: 20%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}


.table th, .table td {
  border-top: 0;
}

.github-link {
  text-align: left;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #252830;
}

.is-invalid {
  border-color: red;
}
